@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
    color: #F4F2FF;
    
}

.app {
    display: grid;
    place-items: center;
    height: 100vh;
    .dentaku-wrapper {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 20%;
        border-radius: 20px;
        overflow:hidden;
        .dentaku-result {
            flex: 2;
            background-color: #7F93C4;
            position: relative;
        }

        .dentaku-input {
            flex: 8;
            background-color: #CBD8F2;
            display: grid;
            padding: 3vmin;
            place-items: center;
            // gap: 5px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
        }
    }
}

.result-text {
    position: absolute;
    right: 1vmin;
    bottom: 0;
    font-size: 4em;
}

.button-container {
    width: 6vmin;
    height: 6vmin;
}

.zero-button-container {
    width: 13vmin;
    height: 6vmin;
    grid-column-start: 1;
    grid-column-end: 3;
}

.button-base {
    overflow: hidden;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50%;
    font-size: 1em;
    color: #F4F2FF;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.button-base::after {
    content: "";
    /*絶対配置で波紋位置を決める*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*波紋の形状*/
    background: radial-gradient(circle, #fff 30%, transparent 20%) no-repeat 50%;
    transform: scale(10, 10);
    /*はじめは透過0に*/
    opacity: 0;
    /*アニメーションの設定*/
    transition: transform 0.3s, opacity 1s;
}

.button-base:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
}

.number-button {
    @extend .button-base;
    background-color: #7F93C4;
}

.zero-button {
    @extend .button-base;
    background-color: #7F93C4;
    border-radius: 30px;
}

.special-button {
    @extend .button-base;
    background-color: #BDAAE6;
}

.operator-button {
    @extend .special-button;
}

.operator-button:focus {
    @extend .special-button;
    background-color: #F4F2FF;
    color: #BDAAE6;
}